@use "../abstracts/" as *;
@use "../base/" as *;
.header {
  background-color: $primary;
  color: white;
  @include displayFlex;
  width: 100%;
  height: 15vh;
  font-family: "Zen Dots", sans-serif;
}

.header .title {
  font-size: 3.5rem;
}
