@use "../abstracts/" as *;
.movie-list {
  height: 100%;
  width: 100%;
  @include displayFlexBetweenCol;

  .movie-roulette-modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    @include displayFlexCol;
    padding-bottom: 7%;
    .movie-roulette-modal {
      width: 40%;
      height: 70%;
      @include respond-to(small) {
        width: 80%;
      }
      @include respond-to(small) {
        width: 40%;
        height: 70%;
      }
      background-color: rgb(2, 13, 51);
      color: white;

      .movie-roulette-header {
        @include displayFlex;
        border-bottom: 0.01rem solid white;
        .movie-roulette-title {
          padding: 1rem;
          font-size: 2rem;
          width: 100%;
          height: 10%;
        }
        .movie-roulette-close {
          padding: 1rem;
          font-size: 1.8rem;
          font-weight: bold;
          color: white;
          background-color: inherit;
          border: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .genre-heading {
        font-size: 1.3rem;
        padding: 1rem;
      }
      .genre-list {
        @include displayFlexCol;
        padding-left: 1rem;
        align-items: start;
        gap: 0.3rem;

        @keyframes expand-circle {
          0% {
            width: 0;
            height: 0;
            opacity: 1;
          }
          100% {
            width: 3rem;
            height: 3rem;
            opacity: 0;
          }
        }
        .radio-input-container {
          @include displayFlexRow;
          gap: 0.5rem;
        }
        .radio-input {
          position: relative;
          appearance: none;
          width: 1rem;
          height: 1rem;
          background-color: #fff;
          border: 0.1rem solid #007bff;
          border-radius: 50%;
          cursor: pointer;
          outline: none;
          transition: background-color 0.6s ease, border-color 0.6s ease;

          &:checked {
            background-color: rgba(0, 215, 219, 1);
            border-color: rgba(0, 215, 219, 1);

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 0;
              height: 0;
              background-color: rgba(0, 215, 219, 0.5);
              border-radius: 50%;
              transform: translate(-50%, -50%);
              animation: expand-circle 0.5s ease-out;
            }
          }

          &:hover {
            border-color: #4200db;
          }
        }
      }
    }
  }
  .movie-list-movies {
    padding: 2rem 0;
    width: 100%;
    @include displayGrid3Cols;
    gap: 3rem;

    @include respond-to(small) {
      @include displayGrid1Cols;
    }
    @include respond-to(medium) {
      @include displayGrid2Cols;
    }
    @include respond-to(large) {
      @include displayGrid3Cols;
    }
  }
  .movie-list-load {
    height: 3.5rem;
    width: 5rem;
    position: sticky;
    position: -webkit-sticky;
    top: 90vh;
    font-size: 1.2rem;
    padding: 1rem;
    z-index: 2;
    border-radius: 0.5rem;
    border: none;
    background-color: $navy;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }

  .movie-list-random {
    height: 3.5rem;
    width: 5rem;
    position: sticky;
    position: -webkit-sticky;
    top: 90vh;
    left: 90%;
    font-size: 1.2rem;
    z-index: 2;
    border-radius: 0.5rem;
    border: none;
    background-color: $navy;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
