@use "../abstracts/" as *;
.movie-list {
  height: 100%;
  width: 100%;
  @include displayFlexBetweenCol;
  .movie-list-movies {
    padding: 2rem 0;
    width: 100%;
    @include displayGrid2Cols;
    gap: 3rem;
  }
  .movie-list-load {
    position: sticky;
    position: -webkit-sticky;
    top: 90vh;
    font-size: 1.2rem;
    padding: 1rem;
    z-index: 2;
    border-radius: 0.5rem;
    border: none;
    background-color: $navy;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
