@use "../abstracts/" as *;

.movie-detail {
  @include displayFlexCol;
  align-items: start;
  padding: 0 10%;
  gap: 2rem;
  .movie-detail-title {
    font-size: 2rem;
    padding-top: 3rem;
  }
  .movie-detail-img-container {
    @include displayFlexCol;
    align-items: start;
    position: relative;
    width: 100%;

    .movie-detail-img {
      max-width: 100%;
      height: auto;
    }

    .movie-detail-description {
      position: absolute;
      width: 60%;
      top: 80%;
      height: 20%;
      padding: 1rem;
      font-size: 1.2rem;
      background: transparent;
      color: white;
      background: linear-gradient(
        177deg,
        rgba(0, 0, 0, 0.7) 0%,
        transparent 100%
      );
      box-shadow: 0.5rem -0.3rem 1rem rgba(0, 0, 0, 0.8);
    }
  }
  .movie-detail-more-info {
    width: 100%;
    @include displayFlexCol;
    gap: 0.8rem;
    align-items: start;
    font-size: 1.3rem;
    padding-bottom: 5rem;
    .bold {
      font-weight: bold;
    }
  }
}
