$navy: rgb(3, 4, 94);
$dark-cerulean: rgb(2, 62, 138);
$cerulean: rgb(0, 119, 182);
$pacific-blue: rgb(0, 150, 199);
$iris-blue: rgb(0, 180, 216);
$medium-turquoise: rgb(72, 202, 228);
$blizzard-blue: rgb(144, 224, 239);
$blizzard-blue1: rgb(173, 232, 244);
$onahau: rgb(202, 240, 248);
$primary: black;
$offwhite: rgb(250, 249, 246);
