@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
body {
  background-color: rgb(250, 249, 246);
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  font-family: "Zen Dots", sans-serif;
}

.header .title {
  font-size: 3.5rem;
}

.movie {
  width: 26vw;
  height: 50vh;
  padding: 10px;
  background-color: rgb(33, 31, 31);
  border-radius: 0.5rem;
  place-self: center;
  color: white;
  transition: 300ms;
}
.movie:hover {
  scale: 1.1;
}
.movie .movie-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.movie .movie-link .movie-img-container {
  position: relative;
  width: 100%;
  height: auto;
}
.movie .movie-link .movie-img-container .movie-image {
  width: 100%;
  height: auto;
}
.movie .movie-link .movie-img-container .movie-rating {
  font-size: 1.3rem;
  position: absolute;
  top: -2.5rem;
  right: -3rem;
  color: rgb(3, 4, 94);
  background-color: gold;
  padding: 2rem;
  border-radius: 100%;
  border: 0.01rem solid rgb(3, 4, 94);
  clip-path: polygon(50% 0%, 68% 30%, 98% 35%, 77% 56%, 79% 91%, 50% 70%, 21% 91%, 23% 55%, 2% 35%, 33% 31%);
}
.movie .movie-link .movie-title {
  font-size: 1.6rem;
}

.movie-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.movie-list .movie-list-movies {
  padding: 2rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.movie-list .movie-list-load {
  position: sticky;
  position: -webkit-sticky;
  top: 90vh;
  font-size: 1.2rem;
  padding: 1rem;
  z-index: 2;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(3, 4, 94);
  color: white;
}
.movie-list .movie-list-load:hover {
  cursor: pointer;
}

.movie-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 0 10%;
  gap: 2rem;
}
.movie-detail .movie-detail-title {
  font-size: 2rem;
  padding-top: 3rem;
}
.movie-detail .movie-detail-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  position: relative;
  width: 100%;
}
.movie-detail .movie-detail-img-container .movie-detail-img {
  max-width: 100%;
  height: auto;
}
.movie-detail .movie-detail-img-container .movie-detail-description {
  position: absolute;
  width: 60%;
  top: 80%;
  height: 20%;
  padding: 1rem;
  font-size: 1.2rem;
  background: transparent;
  color: white;
  background: linear-gradient(177deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  box-shadow: 0.5rem -0.3rem 1rem rgba(0, 0, 0, 0.8);
}
.movie-detail .movie-detail-more-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  align-items: start;
  font-size: 1.3rem;
  padding-bottom: 5rem;
}
.movie-detail .movie-detail-more-info .bold {
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
