@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
body {
  background-color: rgb(250, 249, 246);
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  font-family: "Zen Dots", sans-serif;
}

.header .title {
  font-size: 3.5rem;
}
@media (min-width: 320px) {
  .header .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .header .title {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .header .title {
    font-size: 3.5rem;
  }
}

.movie {
  width: 26vw;
  height: 50vh;
  padding: 10px;
  background-color: rgb(33, 31, 31);
  border-radius: 0.5rem;
  place-self: center;
  color: white;
  transition: 300ms;
}
@media (min-width: 320px) {
  .movie {
    width: 75vw;
    height: 40vh;
  }
}
@media (min-width: 768px) {
  .movie {
    width: 30vw;
  }
}
@media (min-width: 1024px) {
  .movie {
    width: 26vw;
    height: 50vh;
  }
}
.movie:hover {
  scale: 1.1;
}
.movie .movie-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.movie .movie-link .movie-img-container {
  position: relative;
  width: 100%;
  height: auto;
}
.movie .movie-link .movie-img-container .movie-image {
  width: 100%;
  height: auto;
}
.movie .movie-link .movie-img-container .movie-rating {
  font-size: 1.3rem;
  position: absolute;
  top: -2.5rem;
  right: -3rem;
  color: rgb(3, 4, 94);
  background-color: gold;
  padding: 2rem;
  border-radius: 100%;
  border: 0.01rem solid rgb(3, 4, 94);
  clip-path: polygon(50% 0%, 68% 30%, 98% 35%, 77% 56%, 79% 91%, 50% 70%, 21% 91%, 23% 55%, 2% 35%, 33% 31%);
}
@media (min-width: 320px) {
  .movie .movie-link .movie-img-container .movie-rating {
    font-size: 1rem;
    padding: 1.5rem;
    top: -2rem;
    right: -2rem;
  }
}
@media (min-width: 768px) {
  .movie .movie-link .movie-img-container .movie-rating {
    font-size: 1.2rem;
    padding: 1.6rem;
    top: -2.1rem;
    right: -2.5rem;
  }
}
@media (min-width: 1024px) {
  .movie .movie-link .movie-img-container .movie-rating {
    font-size: 1.2rem;
    top: -2.4rem;
    right: -2rem;
    padding: 1.8rem;
  }
}
.movie .movie-link .movie-title {
  font-size: 1.6rem;
}

.movie-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.movie-list .movie-roulette-modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 7%;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal {
  width: 40%;
  height: 70%;
  background-color: rgb(2, 13, 51);
  color: white;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .movie-roulette-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.01rem solid white;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .movie-roulette-header .movie-roulette-title {
  padding: 1rem;
  font-size: 2rem;
  width: 100%;
  height: 10%;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .movie-roulette-header .movie-roulette-close {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: inherit;
  border: none;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .movie-roulette-header .movie-roulette-close:hover {
  cursor: pointer;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .genre-heading {
  font-size: 1.3rem;
  padding: 1rem;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .genre-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  align-items: start;
  gap: 0.3rem;
}
@keyframes expand-circle {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 3rem;
    height: 3rem;
    opacity: 0;
  }
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .genre-list .radio-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .genre-list .radio-input {
  position: relative;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border: 0.1rem solid #007bff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: background-color 0.6s ease, border-color 0.6s ease;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .genre-list .radio-input:checked {
  background-color: rgb(0, 215, 219);
  border-color: rgb(0, 215, 219);
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .genre-list .radio-input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(0, 215, 219, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: expand-circle 0.5s ease-out;
}
.movie-list .movie-roulette-modal-container .movie-roulette-modal .genre-list .radio-input:hover {
  border-color: #4200db;
}
.movie-list .movie-list-movies {
  padding: 2rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (min-width: 320px) {
  .movie-list .movie-list-movies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .movie-list .movie-list-movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .movie-list .movie-list-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.movie-list .movie-list-load {
  height: 3.5rem;
  width: 5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 90vh;
  font-size: 1.2rem;
  padding: 1rem;
  z-index: 2;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(3, 4, 94);
  color: white;
}
.movie-list .movie-list-load:hover {
  cursor: pointer;
}
.movie-list .movie-list-random {
  height: 3.5rem;
  width: 5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 90vh;
  left: 90%;
  font-size: 1.2rem;
  z-index: 2;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(3, 4, 94);
  color: white;
}
.movie-list .movie-list-random:hover {
  cursor: pointer;
}

.movie-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 0 10%;
  gap: 2rem;
}
.movie-detail .movie-detail-title {
  font-size: 2rem;
  padding-top: 3rem;
}
.movie-detail .movie-detail-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  position: relative;
  width: 100%;
}
.movie-detail .movie-detail-img-container .movie-detail-img {
  max-width: 80%;
  height: auto;
}
@media (min-width: 320px) {
  .movie-detail .movie-detail-img-container .movie-detail-img {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .movie-detail .movie-detail-img-container .movie-detail-img {
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .movie-detail .movie-detail-img-container .movie-detail-img {
    max-width: 80%;
  }
}
.movie-detail .movie-detail-img-container .movie-detail-description {
  position: absolute;
  width: 60%;
  top: 80%;
  height: 20%;
  padding: 1rem;
  font-size: 1.2rem;
  background: transparent;
  color: white;
  background: linear-gradient(177deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  box-shadow: 0.5rem -0.3rem 1rem rgba(0, 0, 0, 0.8);
}
@media (min-width: 320px) {
  .movie-detail .movie-detail-img-container .movie-detail-description {
    color: white;
    width: 100%;
    background: black;
    box-shadow: none;
    position: relative;
  }
}
@media (min-width: 768px) {
  .movie-detail .movie-detail-img-container .movie-detail-description {
    color: white;
    width: 100%;
    background: black;
    box-shadow: none;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .movie-detail .movie-detail-img-container .movie-detail-description {
    position: absolute;
    width: 60%;
    top: 80%;
    height: 20%;
    padding: 1rem;
    font-size: 1.2rem;
    background: transparent;
    color: white;
    background: linear-gradient(177deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
    box-shadow: 0.5rem -0.3rem 1rem rgba(0, 0, 0, 0.8);
  }
}
.movie-detail .movie-detail-more-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  align-items: start;
  font-size: 1.3rem;
  padding-bottom: 5rem;
}
.movie-detail .movie-detail-more-info .bold {
  font-weight: bold;
}

@keyframes skeletonAnimation {
  0%, 100% {
    background-color: lightgray;
    opacity: 0.2;
  }
  50% {
    background-color: darkgray;
    opacity: 1;
  }
}
.movie.skeleton {
  cursor: pointer;
}

.movie.skeleton {
  width: 26vw;
  height: 50vh;
  animation: skeletonAnimation 3s infinite reverse ease-in-out;
  padding: 10px;
  border-radius: 0.5rem;
  place-self: center;
  color: white;
  transition: 300ms;
}
@media (min-width: 320px) {
  .movie.skeleton {
    width: 75vw;
    height: 40vh;
  }
}
@media (min-width: 768px) {
  .movie.skeleton {
    width: 30vw;
  }
}
@media (min-width: 1024px) {
  .movie.skeleton {
    width: 26vw;
    height: 50vh;
  }
}
.movie.skeleton:hover {
  scale: 1.1;
}
.movie.skeleton .movie-link.skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.movie.skeleton .movie-link.skeleton .movie-img-container.skeleton {
  position: relative;
  width: 100%;
  height: auto !important;
}
.movie.skeleton .movie-link.skeleton .movie-img-container.skeleton .movie-image.skeleton {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}
.movie.skeleton .movie-link.skeleton .movie-img-container.skeleton .movie-rating.skeleton {
  font-size: 1.3rem;
  position: absolute;
  top: -2.5rem;
  right: -3rem;
  color: rgb(3, 4, 94);
  background-color: gray;
  padding: 2rem;
  border-radius: 100%;
  border: 0.01rem solid rgb(3, 4, 94);
  clip-path: polygon(50% 0%, 68% 30%, 98% 35%, 77% 56%, 79% 91%, 50% 70%, 21% 91%, 23% 55%, 2% 35%, 33% 31%);
}
@media (min-width: 320px) {
  .movie.skeleton .movie-link.skeleton .movie-img-container.skeleton .movie-rating.skeleton {
    padding: 1.5rem;
    top: -2rem;
    right: -2rem;
  }
}
@media (min-width: 768px) {
  .movie.skeleton .movie-link.skeleton .movie-img-container.skeleton .movie-rating.skeleton {
    padding: 1.6rem;
    top: -2.1rem;
    right: -2.5rem;
  }
}
@media (min-width: 1024px) {
  .movie.skeleton .movie-link.skeleton .movie-img-container.skeleton .movie-rating.skeleton {
    top: -2.4rem;
    right: -2rem;
    padding: 1.8rem;
  }
}
.movie.skeleton .movie-link.skeleton .movie-title.skeleton {
  width: 100%;
  background-color: gray;
  font-size: 1.6rem;
}
.movie.skeleton .movie-link.skeleton .movie-language.skeleton {
  width: 50%;
  background-color: gray;
  font-size: 1.5rem;
  align-self: flex-start;
}

.movie-detail.skeleton {
  animation: skeletonAnimation 3s infinite reverse ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 0 10%;
  gap: 2rem;
}
.movie-detail.skeleton .movie-detail-title {
  background-color: gray;
  width: 50%;
  height: 2vh;
  padding-top: 3rem;
}
.movie-detail.skeleton .movie-detail-img-container.skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.movie-detail.skeleton .movie-detail-img-container.skeleton .movie-detail-img.skeleton {
  width: 60vw;
  height: auto;
}
@media (min-width: 320px) {
  .movie-detail.skeleton .movie-detail-img-container.skeleton .movie-detail-img.skeleton {
    width: 100vw;
  }
}
@media (min-width: 768px) {
  .movie-detail.skeleton .movie-detail-img-container.skeleton .movie-detail-img.skeleton {
    width: 80vw;
  }
}
@media (min-width: 1024px) {
  .movie-detail.skeleton .movie-detail-img-container.skeleton .movie-detail-img.skeleton {
    width: 60vw;
  }
}
.movie-detail.skeleton .movie-detail-img-container.skeleton .movie-detail-description.skeleton {
  position: absolute;
  width: 60%;
  background-color: gray !important;
  top: 80%;
  height: 20%;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
}
@media (min-width: 320px) {
  .movie-detail.skeleton .movie-detail-img-container.skeleton .movie-detail-description.skeleton {
    color: white;
    width: 100%;
    background: black;
    box-shadow: none;
    position: relative;
  }
}
@media (min-width: 768px) {
  .movie-detail.skeleton .movie-detail-img-container.skeleton .movie-detail-description.skeleton {
    color: white;
    width: 100%;
    background: black;
    box-shadow: none;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .movie-detail.skeleton .movie-detail-img-container.skeleton .movie-detail-description.skeleton {
    position: absolute;
    width: 60%;
    top: 80%;
    height: 20%;
    padding: 1rem;
    font-size: 1.2rem;
    background: transparent;
    color: white;
  }
}
.movie-detail.skeleton .movie-detail-more-info.skeleton {
  width: 50%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  align-items: start;
  font-size: 1.3rem;
  padding-bottom: 5rem;
}

/*# sourceMappingURL=index.css.map */
